@import 'vars.less';

#playlist, #controls, .audio-required {
  display: none;
}

body.audio .audio-required {
  display: block;
}

body.audio #playlist {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 55px;

  ul {
    position: relative;
    list-style: none;
    width: 5000000em;
    left: 100%;

    li {
      max-width: 18em;
      display: inline-block;
      overflow: hidden;
      position: relative;
      padding: 9px 0 12px;
      opacity: .2;

      .remove {
        display: none;
      }

      &.selected {
        opacity: 1;
      }

      &:not(.selected) {
        cursor: pointer;

        &::after {  // overlay
          z-index: 1;
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }


        &:hover {
          opacity: 1;

          .remove {
            display: block;
            position: absolute;
            right: 5px;
            font-size: 2em;
            top: .7em;
            z-index: 2;
            color: @dark;

            &:hover {
              opacity: 1;
              color: @highlight;
            }
          }
        }
        
        a {
          color: inherit;
        }
      }

      p {
        margin-right: 30px;
        white-space: nowrap;
        overflow: hidden;

        &:not(.animating) {
          text-overflow: ellipsis;
        }

        &.name {
          font-weight: 500;
          font-size: 1.1em;
        }

        &.album {
          font-size: .7em;

          a {
            font-size: 1.2em;
            margin-left: .2em;
          }
        }
      }
    }
  }
}

body.audio #controls {
  display: block;
  line-height: 0;
  border-top: 4px solid @dark;
  width: 100%;
  height: 2em;

  .selection(@light, @dark);

  &::before {
    width: 100%;
    content: '';
    display: block;
    pointer-events: none;
    height: 5em;
    margin-bottom: -5em;

    .vertical-gradient(~"rgba(250,250,250,.8) 0%, rgba(250,250,250,0) 100%");
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#00fafafa',GradientType=0 );
  }

  .inner {
    .inner();
    overflow: hidden;

    p {
      position: relative;
      bottom: 3em;

      span {
        display: inline-block;
        text-align: center;
        padding: .5em .5em .6em;
        border-radius: 0 0 .3em .3em;

        &.transport {
          cursor: pointer;

          width: 1.5em;
          
          &.pp {
            background-color: @dark;
            color: @light;
            .selection(@dark, @light);
          }
          
          &:hover {
          }
        }

        &#np {
          .dropdown();
          .transition(opacity .2s linear);
          opacity: 0;
          .invert();
          right: 0;
          display: inline-block;
          max-width: 40%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          pointer-events: none;
        }

        &#notify {
          .dropdown();
          display: none;
          background-color: @highlight;
          color: @light;
          .heavy();
          right: 0;
          pointer-events: none;
        }
      }
    }
  }
}

.is-sticky #np {
  opacity: 1 !important;
  pointer-events: auto !important;
}
