@import 'vars.less';

* {
  border: none;
  padding: 0;
  margin: 0;
}

html {
  background-color: @light;
  font-family: "Ubuntu" sans-serif;
  color: @dark;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

header {
  .invert();
  text-align: center;

  .inner {
    .inner();

    h1 {
      display: inline-block;
      background-image: url(../img/logo.svg);
      background-repeat: no-repeat;

      background-position: 0 -4px;
      background-size: 66px 78px;
      padding: 40px 0 8px 60px;
      font-size: 20px;

      @media (min-width: @innerbreakpoint) {
        background-position: 0 -5px;
        background-size: 82px 98px;
        padding: 50px 0 10px 75px;
        font-size: 25px;
      }

      @media (min-width: @outerbreakpoint) {
      background-position: 0 -10px;
        background-size: 164px 195px;
        padding: 100px 0 20px 150px;
        font-size: 50px;
      }
    }

    ul {
      list-style: none;
      margin-left: 12em;
      
      li {
        display: inline-block;

        a {
          display: inline-block;
          text-align: center;
          padding: 0 .5em;
        }
      }
    }
  }
}

#breadcrumbs {
  span {
    white-space: nowrap;
  }
}

#content {
  .inner();

  margin-top: 1em;

  p {
    margin: .5em 0;
  }

  h1, h2, h3, h4, h5 {
    padding: .5em 0 0;

    &:hover .enqueue {
      color: @highlight;
      opacity: 1;

      &:hover {
        color: @dark;
      }
    }
  }

  h2 {
    font-size: 1.2em;
  }

  section {
    padding-bottom: 2em;

    &.track {
      p.source {
        margin: 0 0 .5em;
      }
    }

    &.links {
      p.download a {
        span {
          .icon-left();
        }
        &:hover span {
          opacity: 1;
        }
      }
    }
  }
}

.enqueue {
  display: none;
}

.js .enqueue {
  .icon-left();
}


.selection(@dark, @light);

a {
  color: @highlight;
  text-decoration: none;
  cursor: pointer;
  .selection(@highlight, @light);

  &:hover {
    color: @dark;
  }

  &:active {
    color: @highlight;
  }
}

@import 'playlist.less';
