@import 'vars.less';
@import '../fa/less/font-awesome.less';

* {
  border: none;
  padding: 0;
  margin: 0;
}

html {
  background-color: @light;
  font-family: "Ubuntu", sans-serif;
  color: @dark;
}

h1, h2, h3, h4, h5 {
  .heavy();
}

header {
  .invert();
  text-align: center;

  .inner {
    .inner();

    h1 {
      display: inline-block;
      background-image: url(../img/logo.svg);
      background-repeat: no-repeat;

      background-position: 0 -4px;
      background-size: 66px 78px;
      padding: 40px 0 8px 60px;
      font-size: 20px;

      @media (min-width: 320px) {
        background-position: 0 -5px;
        background-size: 82px 98px;
        padding: 50px 0 10px 75px;
        font-size: 25px;
      }

      @media (min-width: 680px) {
      background-position: 0 -10px;
        background-size: 164px 195px;
        padding: 100px 0 20px 150px;
        font-size: 50px;
      }
    }

    ul {
      list-style: none;
      margin-left: 12em;
      
      li {
        display: inline-block;

        a {
          display: inline-block;
          text-align: center;
          padding: 0 .5em;
        }
      }
    }
  }
}

#breadcrumbs {
  .light();
  font-size: .9em;

  span {
    white-space: nowrap;
  }
}

main {
  .inner();

  @media (min-width: @outerbreakpoint) {
    font-size: 1.1em;
  }

  margin-top: 1em;
  margin-bottom: 3em;

  p {
    margin: .5em 0;
  }

  h1, h2, h3, h4, h5 {
    padding: .8em 0 0;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.3em;
  }

  section {
    padding-bottom: 2em;

    p.source, p.date, p.link {
      .subheading();
    }

    &.description p {
      .indent();
    }

    &.links {
      p {
        a::before {
          .icon-left();
        }

        &.external a::before {
          .fa(@fa-var-external-link-square);
        }

        &.internal a::before {
          .fa(@fa-var-download);
        }

        a:hover::before {
          opacity: 1;
        }
      }
    }

    &.dispatch {
      p {
        text-align: center;

        a {
          display: inline-block;
          padding: .7em 1em;
          background-color: @highlight;
          color: @light;
          border-radius: .5em;

          font-size: 1.5em;

          @media (min-width: @innerbreakpoint) {
            font-size: 1.7em;
          }

          @media (min-width: @outerbreakpoint) {
            font-size: 2.3em;
          }

          &:hover {
            background-color: @dark;
          }
        }
      }
    }


    .track-name {
      span.track-number {
        margin-right: .3em;
        .light();

        &::after {
          content: '.';
        }
      }
    }

    ul {
      padding-left: 1.5em;
    }

    hr {
      height: 1.5em;
    }
  }

  blockquote {
    font-style: italic;
  }
}

.enqueue {
  display: none;
}

.js .enqueue {
  .icon-left();

  &::before {
    .fa(@fa-var-headphones)
  }

  &::after {
    opacity: 0;
    content: attr(data-title);

    font-size: .7em;
    position: absolute;
    @media (min-width: @tooltipbreakpoint) {
      .transition(opacity .2s linear);
      .light();
      top: .2em;
      right: 2.3em;
      pointer-events: none;
    }

    @media (max-width: @tooltipbreakpoint) {
      .medium();
      background-color: @highlight;
      color: @light;
      border-radius: .4em;
      box-shadow: 0 .2em .5em @light;
      padding: .3em .4em;
      z-index: 5;

      left: 1.7em;
      top: 0;
      white-space: nowrap;
    }
  }
  &:hover {
    opacity: 1;

    @media (min-width: @innerbreakpoint) {
      &::after {
        opacity: 1;
      }
    }
  }
}


.selection(@dark, @light);

a {
  color: @highlight;
  text-decoration: none;
  cursor: pointer;
  .selection(@highlight, @light);

  &:hover {
    color: @dark;
  }

  &:active {
    color: @highlight;
  }
}

@import 'playlist.less';
