@dark: #222;
@light: #fafafa;
@mid: #999;

@highlight: #c52;

@max-width: 50em;

.inner() {
  max-width: @max-width; 
  margin: 0 auto;
  padding: 0 .5em;
}

.invert() {
  background-color: @dark;
  color: @light;

  a[href]:hover {
    color: @light;
  }
}
