@dark: #222;
@light: #fafafa;
@mid: #999;

@highlight: #c52;

@max-width: 750px;
@innerbreakpoint: 400px;
@outerbreakpoint: 700px;

.heavy() {font-weight: 500}
.medium() {font-weight: 400}
.light() {font-weight: 300}

.glow(@colour) {
  text-shadow: 0 0 .5em @colour,
               0 0 .5em @colour,
               0 0 1em @colour,
               0 0 1em @colour,
               0 0 1.5em @colour,
               0 0 1.5em @colour,
               0 0 2em @colour,
               0 0 2em @colour;
}

.inner() {
  max-width: @max-width; 
  margin: 0 auto;
  padding: 0 .5em;

  @media (min-width: @innerbreakpoint) {
    padding: 0 2.5em;
  }
}

.invert() {
  background-color: @dark;
  color: @light;
  .selection(@light, @dark);

  a[href]:hover {
    color: @light;
    .selection(@highlight, @dark);
  }
}

.arrowhover() {
  &:hover::before {
    content: '»';
    display: inline-block;
    width: 0;
    position: relative;
    right: .8em;
  }
}

.selection(@bg, @fg) {
  &::selection, ::selection {
    background-color: @bg;
    color: @fg;
  }
  &::-moz-selection, ::-moz-selection {
    background-color: @bg;
    color: @fg;
  }
}

.icon-left() {
  display: inline;
  color: @dark;
  opacity: .2;
  margin-right: .3em;

  @media (min-width: @innerbreakpoint) {
    margin-right: 0;
    position: relative;
    display: inline-block;
    width: 0;
    right: 1.2em;
  }
}

.subheading() {
  font-weight: 300;
  font-size: .9em;
  padding-left: .5em;
  margin: .2em 0 .5em;
}

