{% extends parent %}
{% load mftb5 %}

{% block title %}{{ album.name }}{% endblock %}

{% block content %}
  <section class="album">
    {% spaceless %}
      <h1>
        {% include "includes/enqueue.html" with object=album %}
        <span>{{ album.name }}</span>
      </h1>
    {% endspaceless %}

    {{ album.description_html|safe }}

  </section>

  {% if album.external %}
    <section class="links">
      <p class="external"><a href="{{ album.url }}"><span class="fa fa-external-link-square"></span>{{ album.url|service_from_url }}</a></p>
    </section>
  {% endif %}

  <section class="tracks">
    {% for track in album.tracks %}
      {% spaceless %}
        <h2>
          {% include "includes/enqueue.html" with object=track %}
          {% if track.track_number %}
            <span class="track-number">{{ track.track_number }}</span>
          {% endif %}
          <a href="{{ track.get_absolute_url }}">{{ track.name }}</a>
        </h2>
      {% endspaceless %}
      {% if track.date %}
        <p class="date">{{ track.date }}</p>
      {% endif %}
      {{ track.description_html|safe }}
    {% endfor %}
  </section>
{% endblock %}
