{% extends parent %}
{% load mftb5 %}

{% block title %}{{ album.name }}{% endblock %}

{% block content %}
  <section class="album description">
    {% spaceless %}
      <h1>
        {% include "includes/enqueue.html" with object=album %}
        <span>{{ album.name }}</span>
      </h1>
    {% endspaceless %}
    {% if album.date %}
      <p class="date">{{ album.date }}</p>
    {% endif %}

    {{ album.description_html|safe }}

  </section>

  {% if album.url %}
    <section class="links">
      <p class="external"><a href="{{ album.url }}">{{ album.url|service_from_url }}</a></p>
    </section>
  {% endif %}

  <section class="tracks description">
    <h2>Tracks</h2>
    {% for track in album.tracks %}
      {% spaceless %}
        <h3 class="track-name">
          {% include "includes/enqueue.html" with object=track %}
          <span class="track-number">{% firstof track.track_number forloop.counter %}</span>
          <a href="{{ track.get_absolute_url }}">{{ track.name }}</a>
        </h3>
      {% endspaceless %}
      {% if track.date %}
        <p class="date">{{ track.date }}</p>
      {% endif %}
      {{ track.truncated_description_html|safe }}
    {% endfor %}
  </section>
{% endblock %}
