{% load compressed static %}
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:400,500">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu+Mono">

    <title>{% block title %}Home{% endblock %} | Music for the Blind</title>
    {% compressed_css "base" %}
  </head>
  <body>
    <script type="text/javascript">
      document.body.className += ' js';
    </script>
    <header>
      <div class="inner">
        <h1>Music for the Blind</h1>
      </div>

    </header>

    <section id="playlist">
      <ul><li>
        <p class="title">loading</p><p class="album"><a>hang on a moment&hellip;</a></p>
      </li></ul>
    </section>

    <div id="controls">
      <span class="prev">« prev</span> <span class="pp">play</span> <span class="next">next »</span>
    </div>

    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="{% static 'js/libs/jquery/jquery-2.0.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery-ui/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/buzz/buzz.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/handlebars/handlebars-v1.1.2.js' %}"></script>

    <script type="text/javascript">
      var playlistUrl = '{% url "music:playlist" %}';
    </script>

    {% verbatim %}
      <script id="playlist-template" type="text/x-handlebars-template">
        <ul>
          {{#each tracks}}
            <li data-mp3="{{mp3}}" id={{pk}}>
              <p class="title"><a href="">{{name}}</a></p>
              <p class="album">from <a href="">{{album.name}}</a></span>
            </li>
          {{/each}}
        </ul>
      </script>
    {% endverbatim %}

    {% compressed_js "base" %}
  </body>
</html>
