{% extends parent %}
{% block content %}
  <section>
    <h1>Contact</h1>
    <p>There are innumerate ways you might consider getting in touch with me. In order to ease your decision about which to attempt, allow me to provide the following information:</p>
    <ul>
      <li>My email address is <a href="mailto:iain@colons.co">iain@colons.co</a></li>
      <li>I am <a href="http://twitter.com/mftb">@mftb</a> on Twitter</li>
      <li>My GitHub username is <a href="http://github.com/colons">colons</a></li>
      <li>If this website is up, I am pretty much guaranteed to be idling as either nivi or colons on <a href="irc://irc.freenode.net/">freenode</a>, <a href="irc://irc.rizon.net">rizon</a>, <a href="irc://irc.irchighway.net">irchighway</a> and <a href="irc://irc.synirc.net">synIRC</a></li>
      <li>I also have accounts on <a href="http://soundcloud.com/nivi">SoundCloud</a>, <a href="https://github.com/colons">GitHub</a>, <a href="http://steamcommunity.com/id/nivi">Steam</a>, <a href="http://myanimelist.net/profile/colons">MAL</a> and <a href="http://www.last.fm/user/NiviJh">Last.fm</a></li>
    </ul>
  </section>
{% endblock %}
