{% extends parent %}
{% block content %}
  <section class="dispatch">
    <p>
      <a class="big-button" id="anything" data-feature="{{ feature|urlencode }}" href="{{ first_track.get_absolute_url }}">
        <span id="stranger">
          <span>Play me something</span>
        </span>
        <span id="nojs">
          <span>Show me something</span>
        </span>
        <span id="not-stranger">
          <span>Play me something else</span>
        </span>
      </a>
    </p>
    <p><a id="albums" href="{% url "music:albums" %}">Show me everything</a></p>
  </section>

  <section class="welcome">
    <ul class="engage">
      <li class="twitter"><a href="https://twitter.com/mftb">mftb</a></li>
      <li class="github"><a href="https://github.com/colons">colons</a></li>
      <li class="email"><a href="mailto:iain@colons.co">iain@colons.co</a></li>
      <li class="else"><a href="{% url "contact" %}">etc</a></li>
    </ul>
  </section>
{% endblock %}
