{% extends parent %}
{% block content %}
  <section class="dispatch">
    <p class="audio-required">
      <a class="big-button" id="anything" data-feature="{{ feature|urlencode }}">
        <span>I am easily distracted;</span> <span>just play me something</span>
      </a>
      <a class="big-button" id="watfk" data-feature="{{ feature|urlencode }}">
        <span>What are you even</span> <span>playing me?</span>
      </a>
    </p>
    <p><a id="albums" href="{% url "music:albums" %}">Show me all the noises</a></p>
  </section>

  <section class="welcome">
    <ul class="engage">
      <li class="twitter"><a href="https://twitter.com/mftb">mftb</a></li>
      <li class="github"><a href="https://github.com/colons">colons</a></li>
      <li class="email"><a href="mailto:iain@colons.co">iain@colons.co</a></li>
    </ul>
  </section>
{% endblock %}
