{% extends parent %}

{% block title %}Meta{% endblock %}

{% block content %}
  <section>
    <h1>Hi, I'm <a href="https://colons.co/">colons</a></h1>
    <p>You can yell at me and look at my stuff.</p>
    <ul>
      <li>
        Email:
        <a href="&#x6D;&#97;&#105;&#108;t&#x6F;:&#x63;&#111;l&#x6F;&#x6E;&#x73;&#64;c&#x6F;&#108;&#111;&#x6E;&#115;&#x2E;&#99;&#111;">&#x63;&#111;l&#x6F;&#x6E;&#x73;&#64;c&#x6F;&#108;&#111;&#x6E;&#115;&#x2E;&#99;&#111;</a>
      </li>
      <li>
        Twitter:
        <a href="http://twitter.com/mftb">mftb</a>
      </li>
      <li>
        GitHub:
        <a href="http://github.com/colons">colons</a>
      </li>
      <li>
        Last.fm:
        <a href="http://www.last.fm/user/NiviJh">NiviJh</a>
      </li>
      <li>
        Soundcloud:
        <a href="http://soundcloud.com/nivi">nivi</a>
      </li>
      <li>
        Steam:
        <a href="http://steamcommunity.com/id/colons">colons</a>
      </li>
      <li>
        MAL:
        <a href="http://myanimelist.net/profile/colons">colons</a>
      </li>
      <li>
        MFC:
        <a href="http://myfigurecollection.net/profile/colons">colons</a>
      </li>
      <li>
        IRC:
        colons (or maybe nivi) in <a href="irc://irc.rizon.net/NekoDesu">#NekoDesu on rizon</a>, and maybe some channels on <a href="irc://irc.freenode.net/">freenode</a>, <a href="irc://irc.irchighway.net">irchighway</a> or <a href="irc://irc.synirc.net">synIRC</a>
      </li>
    </ul>
  </section>
{% endblock %}
