{% extends parent %}

{% block title %}{{ story.headline }}{% endblock %}

{% block content %}
  <section class="story">
    {% spaceless %}
      <h1>
        {% if story.pertinent_object %}
          {% include 'includes/enqueue.html' with object=story.pertinent_object %}
        {% endif %}
        {% if story.pertinent_object %}
          <a href="{{ story.pertinent_object.get_absolute_url }}">{{ story.headline }}</a>
        {% else %}
          <span>{{ story.headline }}</span>
        {% endif %}
      </h1>
    {% endspaceless %}
    <p class="date">{{ story.date }}</p>

    {{ story.content_html|safe }}
  </section>
{% endblock %}
