{% extends parent %}

{% block title %}News{% endblock %}

{% block content %}
  <h1>News</h1>
  {% for story in object_list %}
    <section class="story">
      {% spaceless %}
        <h2>
          {% if story.pertinent_object %}
            {% include 'includes/enqueue.html' with object=story.pertinent_object %}
          {% endif %}
          <a href="{{ story.get_absolute_url }}">{{ story.headline }}</a></h1>
        </h2>
      {% endspaceless %}
      <p class="date">{{ story.date }}</p>
      <div class="list-description">
        {{ story.content_html|safe }}
      </div>
    </section>
  {% endfor %}
{% endblock %}
