{% extends parent %}
{% load mftb5 %}

{% block title %}{{ track.name }}{% endblock %}

{% block content %}
  <section class="track description">
    {% spaceless %}
      <h1 class="track-title">
        {% include "includes/enqueue.html" with object=track %}
        <span>{{ track.name }}</span>
      </h1>
    {% endspaceless %}
    <p class="source">
      {% if track.date %}
        {{ track.date }},
      {% endif %}
      {% if track.track_number %}
        <a href="{{ track.album.get_absolute_url }}">{{ track.album.name }}</a>, track {{ track.track_number }}</p>
      {% else %}
        from <a href="{{ track.album.get_absolute_url }}">{{ track.album.name }}</a></p>
      {% endif %}
    </p>
    {{ track.description_html|safe }}
  </section>

  <section class="links">
    {% if track.external %}
      <p class="external"><a href="{{ track.url }}">{{ track.url|service_from_url }}</a></p>
    {% else %}
      {% for download in track.downloads %}
        <p class="internal"><a download href="{{ download.url }}">Download {{ download.format }}</a></p>
      {% endfor %}
    {% endif %}
  </section>

  {% if track.lyrics %}
    <section class="lyrics">
      <code>{{ track.lyrics|linebreaksbr }}</code>
    </section>
  {% endif %}
{% endblock %}
